<div class="product-search">
	<div class="product-search__header">
		<search class="product-search__container" role="search">
			<form>
				<input class="input-rounded product-search__input" type="search" placeholder="Искать в магазине">
				<button class="product-search__button">
							<span class="visually-hidden">
								Поиск
							</span>
					<svg class="header-mobile__search-icon" aria-hidden="true">
						<use href="/assets/img/svg/sprite.svg#search"></use>
					</svg>
				</button>
			</form>
		</search>
	</div>
</div>