* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:is(a, button, input, textarea, select, summary):focus-visible {
  outline: 2px solid var(--focus-visible-outline);
  outline-offset: -2px;
}


input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Chrome, Safari */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Firefox */
input[type="search"]::-moz-search-clear {
  display: none;
}

/* Edge (старый) */
input[type="search"]::-ms-clear {
  display: none;
}

input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // ✅ Chrome, Safari, Edge, Opera
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // ✅ Firefox
  -moz-appearance: textfield;

  // ✅ IE 10-11
  &::-ms-clear {
    display: none;
  }
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // ✅ Chrome, Safari, Edge
  //&::-webkit-calendar-picker-indicator {
  //  display: none;
  //  -webkit-appearance: none;
  //}

  //// ✅ Firefox
  //&::-moz-calendar-picker-indicator {
  //  display: none;
  //}

  // ✅ IE 10-11
  //&::-ms-clear {
  //  display: none;
  //}

  text-align: left !important;
  direction: ltr !important;

  // Для внутренних элементов iOS Safari
  &::-webkit-date-and-time-value {
    text-align: left;
  }

  // Для внутренних полей даты
  &::-webkit-datetime-edit {
    text-align: left;
    padding-left: 0;
  }

  &::-webkit-datetime-edit-fields-wrapper {
    text-align: left;
    padding-left: 0;
  }
}

button {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

svg {
  width: 24px;
  min-width: 24px;
  height: 24px;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}
