@use 'mixins' as *;

//общие
body {
  font-family: "Onest", sans-serif;
  font-size: fluid(14px, 16px);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-primary);

  -webkit-font-smoothing: antialiased; // Сглаживание для Mac
  -moz-osx-font-smoothing: grayscale; // Для Firefox на Mac
}

//heading

.heading-md {
  font-size: fluid(24px, 40px);
  line-height: 1;
  letter-spacing: -0.01em;
}

.heading-lg {
  font-size: fluid(36px, 64px);
  line-height: 1;
}

.heading-xl {
  font-size: fluid(24px, 76px);
  line-height: 1;
  letter-spacing: -0.01em;
}

//title

.title-xs {
  font-size: fluid(14px, 24px);
  line-height: 1.3;
}

.title-md {
  font-size: fluid(18px, 20px);
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.title-lg {
  font-size: fluid(18px, 24px);
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.title-xl {
  font-size: fluid(24px, 48px);
  line-height: 1;
  letter-spacing: -0.01em;
}

//body-text

.body-text-xxs {
  font-size: fluid(12px, 14px);
  line-height: 1.5;
}

.body-text-xs {
  font-size: fluid(12px, 16px);
  line-height: 1.6;
}

.body-text-sm {
  font-size: fluid(12px, 18px);
  line-height: 1.3;

  @include tablet {
    line-height: 1.6;
  }
}

.body-text-md {
  font-size: 14px;
  line-height: 1.5;
}

.body-text-xl {
  font-size: fluid(14px, 18px);
  line-height: 1.5;
}

.body-text-xxl {
  font-size: fluid(16px, 18px);
  line-height: 1.5;
}

//weight

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-grey {
  color: var(--color-text-secondary);
}

.text-blue {
  color: var(--color-text-accent-2);
}

button.text-grey,
a.text-grey {
  transition: color var(--transition);

  &:hover {
    color: var(--color-text-primary);
  }
}

button.text-blue,
a.text-blue {
  transition: color var(--transition);

  &:hover {
    color: var(--color-text-accent-2-hover);
  }
}

.text-strike {
  text-decoration-line: line-through;
}

