@use 'mixins' as *;

// КНОПКИ

// базовый класс, не используем в верстке, нужен для создания остальных кнопок
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-wrap: nowrap;
  transition: color var(--transition), background-color var(--transition);
}

//классы для размера кнопки

.button-sm-rounded {
  @extend .button;
  column-gap: 4px;
  padding: 8px 10px;
  min-height: 36px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 99px;

  @include desktop {
    column-gap: 6px;
    padding: 8px 16px;
    min-height: 40px;
  }
}

.button-md {
  @extend .button;
  column-gap: 4px;
  padding: 10px 16px;
  min-height: 40px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;

  @include desktop {
    column-gap: 6px;
    padding: 8px 16px;
    min-height: 48px;
  }
}

.button-lg {
  @extend .button;
  column-gap: 8px;
  padding: 12px 24px;
  min-height: 48px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
}

.button-xl {
  @extend .button;
  column-gap: 8px;
  padding: 12px 24px;
  min-height: 48px;
  font-size: fluid(14px, 16px);
  font-weight: 600;
  border-radius: 12px;

  @include desktop {
    column-gap: 12px;
    padding: 16px 32px;
    min-height: 56px;
    font-weight: 700;
    border-radius: 16px;
  }
}

//классы для цвета кнопки

.button-primary {
  color: var(--color-text-contrast);
  background-color: var(--color-background-contrast);

  &:not(:disabled) {
    &:hover {
      background-color: #545556;
    }

  }

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }

}

.button-secondary {
  color: var(--color-text-primary);
  background-color: var(--color-background-tertiary);

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-background-secondary-3);
    }
  }

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }

}

.button-bordered {
  color: var(--color-text-primary);
  border: 1px solid var(--color-stroke-primary);
  background-color: var(--color-background-primary);

  &:not(:disabled) {
    &:hover {
      background-color: #F3F4F5;
    }

  }

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }

}

.button-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 12px 24px;
  font-size: fluid(14px, 16px);
  font-weight: 600;
  line-height: 1.5;
  border-radius: 12px;
  transition: color var(--transition);

  @include desktop {
    font-weight: 500;
  }

  &:not(:disabled) {
    &:hover {
      color: var(--color-text-secondary);
    }

  }

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }
}

.button-wildberries {
  color: var(--color-text-contrast);
  background-color: var(--color-wildberries);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-hover-wildberries);
  }
}

.button-ozon {
  color: var(--color-text-contrast);
  background-color: var(--color-ozon);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-hover-ozon);
  }
}

.button-wildberries-2 {
  color: var(--color-wildberries);
  background-color: var(--color-background-primary);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-highlight-wildberries);
  }
}

.button-ozon-2 {
  color: var(--color-ozon);
  background-color: var(--color-background-primary);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-highlight-ozon);
  }
}

.button-wildberries-bordered {
  color: var(--color-wildberries);
  background-color: transparent;
  border: 1px solid var(--color-wildberries);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-highlight-wildberries);
  }
}

.button-ozon-bordered {
  color: var(--color-ozon);
  background-color: transparent;
  border: 1px solid var(--color-ozon);
  transition: background-color var(--transition);

  &:hover {
    background-color: var(--color-highlight-ozon);
  }
}

.burger {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 36px;
  height: 48px;

  &-line {
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-icon-primary);
    transition: transform var(--transition);

    &:first-child {
      transform: translateY(-4px);
    }

    &:last-child {
      transform: translateY(4px);
    }
  }
}

// ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ INPUT ЭЛЕМЕНТОВ
.input {

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }

  &.success {
    .input-elem {
      outline-color: var(--color-stroke-success);
    }

    .input-hint {
      color: var(--color-text-success);
    }
  }

  &.danger {
    .input-elem {
      outline-color: var(--color-stroke-danger);
    }

    .input-hint {
      color: var(--color-text-danger);
    }
  }

  &.promo-input {
    .input-elem {
      min-height: 48px;
      font-size: 14px;
      font-weight: 700;
      background-color: transparent;
    }

    .input-button,
    .input-switcher {
      padding: 0 24px;
      height: 48px;
      color: var(--color-icon-primary);

      &:hover {
        color: var(--color-icon-secondary);
      }
    }

    .input-icon--btn {
      width: 24px;
      min-width: 24px;
      height: 24px;
    }

    @include tablet {

      .input-elem {
        min-height: 56px;
        font-size: 16px;
      }

      .input-button,
      .input-switcher {
        height: 56px;
      }
    }

  }

  &-wrapper {
    position: relative;
  }

  &-elem {
    width: 100%;
    min-height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--color-text-primary);
    background-color: var(--color-background-secondary);
    outline: 1px solid var(--color-stroke-primary);
    outline-offset: -1px;
    border-radius: 12px;
    transition: outline-color var(--transition);

    &:not(:disabled) {
      &:hover,
      &:focus-visible,
      &:focus {
        outline: 1px solid var(--color-stroke-secondary);
        outline-offset: -1px;
      }
    }
  }

  &-button,
  &-switcher {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 56px;
    border-radius: 12px;
    color: var(--color-icon-secondary);
    transition: color var(--transition);

    &:hover {
      color: var(--color-icon-primary);
    }
  }

  &-hint {
    display: flex;
    column-gap: 4px;
    padding-top: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-text-secondary);
    transition: color var(--transition);
  }

  &-icon {

    &--hint {
      width: 16px;
      min-width: 16px;
      height: 16px;
    }

    &--btn,
    &--switcher {
      width: 20px;
      min-width: 20px;
      height: 20px;
    }
  }

  &-switcher {
    cursor: pointer;

    input {
      &:checked {
        & ~ .input-switcher-wrapper .input-switcher-on {
          display: block;
        }

        & ~ .input-switcher-wrapper .input-switcher-off {
          display: none;
        }
      }
    }

    &-on {
      display: none;
    }

    &-off {
      display: block;
    }
  }

}

// ПЛАВАЮЩИЙ ИНПУТ
.floating-input {
  @extend .input;

  .input-elem {
    padding: 24px 60px 8px 16px;

    &::placeholder {
      color: rgba(0, 0, 0, 0);
    }

    &:placeholder-shown + .input-label::before {
      transform: translate3d(0, -40px, 0) scale3d(1, 1, 1);
    }

    &:focus + .input-label::before {
      transform: translate3d(0, -52px, 0) scale3d(0.82, 0.82, 1);
    }
  }

  .input-label {
    display: block;
    max-height: 0;
    pointer-events: none;

    &::before {
      position: relative;
      left: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--color-text-secondary);
      content: attr(data-content);
      display: inline-block;
      filter: blur(0);
      backface-visibility: hidden;
      transform: translate3d(0, -52px, 0) scale3d(0.82, 0.82, 1);
      transform-origin: left top;
      transition: transform var(--transition);
    }
  }

  &.promo-input {
    .input-elem {
      padding: 24px 72px 8px 24px;

      &:placeholder-shown + .input-label::before {
        transform: translate3d(0, -35px, 0) scale3d(1, 1, 1);
      }

      &:focus + .input-label::before {
        transform: translate3d(0, -46px, 0) scale3d(0.82, 0.82, 1);
      }
    }

    .input-label {
      &::before {
        left: 24px;
        font-size: 14px;
        font-weight: 700;
        color: var(--color-text-primary);
        transform: translate3d(0, -46px, 0) scale3d(0.82, 0.82, 1);
      }
    }

    @include tablet {
      .input-elem {

        &:placeholder-shown + .input-label::before {
          transform: translate3d(0, -40px, 0) scale3d(1, 1, 1);
        }

        &:focus + .input-label::before {
          transform: translate3d(0, -52px, 0) scale3d(0.82, 0.82, 1);
        }
      }

      .input-label {
        &::before {
          font-size: 16px;
          transform: translate3d(0, -52px, 0) scale3d(0.82, 0.82, 1);
        }
      }
    }
  }
}

// ИНПУТ С ЗАГОЛОВКОМ
.title-input {
  @extend .input;

  .input-wrapper {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 4px;
  }

  .input-elem {
    padding: 12px 60px 12px 16px;

    &::placeholder {
      color: var(--color-text-secondary);
    }
  }

  .input-label {
    position: static;
    max-height: unset;

    &::before {
      content: attr(data-content);
      position: static;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--color-text-primary);
      display: inline-block;
      filter: blur(0);
      backface-visibility: hidden;
    }
  }
}

// ОСНОВНОЙ ИНПУТ
.main-input {
  @extend .input;

  @include desktop {
    .input-wrapper {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 4px;
    }
  }

  .input-elem {
    padding: 24px 60px 8px 16px;
    min-height: 56px;

    @include desktop {
      padding: 12px 60px 12px 16px;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0);

      @include desktop {
        color: var(--color-text-secondary);
      }
    }

    &:placeholder-shown + .input-label::before {
      transform: translate3d(0, -40px, 0) scale3d(1, 1, 1);

      @include desktop {
        transform: unset;
      }
    }

    &:focus + .input-label::before {
      transform: translate3d(0, -52px, 0) scale3d(0.82, 0.82, 1);

      @include desktop {
        transform: unset;
      }
    }
  }

  .input-label {
    display: block;
    max-height: 0;
    pointer-events: none;

    @include desktop {
      position: static;
      max-height: unset;
    }

    &::before {
      position: relative;
      left: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--color-text-secondary);
      content: attr(data-content);
      display: inline-block;
      filter: blur(0);
      backface-visibility: hidden;
      transform: translate3d(0, -52px, 0) scale3d(0.82, 0.82, 1);
      transform-origin: left top;
      transition: transform var(--transition);

      @include desktop {
        position: static;
        font-size: 14px;
        color: var(--color-text-primary);
        transform: unset;
      }
    }
  }
}

//СТИЛИЗОВАННЫЕ ИНПУТЫ (чекбоксы, радио, тогглы, range)

.checkbox,
.radio {
  display: flex;
  column-gap: 8px;
  width: fit-content;
  max-width: 100%;
  cursor: pointer;

  &:has(input:disabled) {
    cursor: not-allowed;

    input:disabled {
      cursor: not-allowed;
    }
  }

  &-text {
    width: fit-content;
    font-size: 14px;
    line-height: 1.5;
  }
}

.checkbox {
  &-input {
    appearance: none;
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: var(--color-icon-contrast);
    border-radius: 6px;
    border: 1px solid var(--color-icon-tertiary);
    transition: border-color var(--transition);
    cursor: inherit;

    &:after {
      content: '';
      position: absolute;
      inset: -1px;
      border-radius: 6px;
      background-color: var(--color-icon-accent-2);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.93767 0.051271C9.01891 0.0851167 9.09264 0.134713 9.15461 0.197199C9.22228 0.259627 9.27629 0.335395 9.31323 0.419728C9.35017 0.504061 9.36924 0.595131 9.36924 0.687199C9.36924 0.779267 9.35017 0.870337 9.31323 0.95467C9.27629 1.039 9.22228 1.11477 9.15461 1.1772L3.71462 6.6172C3.65264 6.67968 3.57891 6.72928 3.49767 6.76313C3.41643 6.79697 3.32929 6.8144 3.24128 6.8144C3.15328 6.8144 3.06614 6.79697 2.9849 6.76313C2.90366 6.72928 2.82992 6.67968 2.76795 6.6172L0.20795 4.0572C0.143602 3.99504 0.0921264 3.92082 0.0564641 3.83876C0.0208018 3.75671 0.00164959 3.66844 0.000101944 3.57898C-0.0014457 3.48953 0.0146416 3.40065 0.0474442 3.31741C0.0802469 3.23417 0.129124 3.15821 0.191283 3.09387C0.253442 3.02952 0.327666 2.97804 0.409718 2.94238C0.491771 2.90672 0.580044 2.88757 0.669497 2.88602C0.758951 2.88447 0.847834 2.90056 0.931071 2.93336C1.01431 2.96616 1.09027 3.01504 1.15462 3.0772L3.24128 5.17053L8.20795 0.197199C8.26993 0.134713 8.34366 0.0851167 8.4249 0.051271C8.50614 0.0174252 8.59328 0 8.68128 0C8.76929 0 8.85643 0.0174252 8.93767 0.051271Z' fill='white'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity var(--transition);
    }

    &:hover {
      border-color: var(--color-icon-secondary);
    }

    &:checked {
      &:after {
        opacity: 1;
      }
    }

    &:disabled {
      background-color: var(--color-icon-secondary-2);
      border: 1px solid var(--color-icon-secondary-2);

      &:after {
        background-color: var(--color-icon-secondary);
      }
    }
  }

  &-color {
    width: 12px;
    min-width: 12px;
    height: 12px;
    margin-top: 4px;
    background-color: var(--back-color);
    outline: 1px solid var(--border-color, #E2E4E9);
    border-radius: 999px;
  }
}

.radio {
  &-input {
    appearance: none;
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: var(--color-icon-contrast);
    border-radius: 50%;
    border: 2px solid var(--color-icon-tertiary);
    transition: border-color var(--transition);
    cursor: inherit;

    &:before {
      content: '';
      position: absolute;
      inset: 50%;
      width: 10px;
      height: 10px;
      background-color: var(--color-icon-accent-2);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity var(--transition);
    }

    &:hover {
      border-color: var(--color-icon-secondary);
    }

    &:checked {
      border-color: var(--color-icon-accent-2);

      &:before {
        opacity: 1;
      }
    }

    &:disabled {
      background-color: var(--color-icon-secondary-2);
      border: 2px solid var(--color-icon-secondary-2);

      &:before {
        background-color: #EEEFF1;
      }

      &:checked {
        background-color: var(--color-icon-contrast);
        border: 2px solid var(--color-icon-secondary-2);
      }

      & ~ * {
        opacity: .3;
      }
    }
  }
}

.toggle {
  display: flex;

  &-input {
    appearance: none;
    position: relative;
    width: 32px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      padding: 1px;
      background-color: var(--color-icon-secondary-2);
      border: 1px solid var(--color-icon-tertiary);
      border-radius: 10px;
      transition: background-color var(--transition), border-color var(--transition);
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(2px, -50%);
      width: 16px;
      height: 16px;
      background-color: var(--color-icon-contrast);
      border: 1px solid var(--color-icon-tertiary);
      border-radius: 100%;
      transition: transform var(--transition);
    }

    &:checked {
      &:before {
        background-color: var(--color-icon-accent-2);
        border-color: var(--color-icon-accent-2);
      }

      &:after {
        transform: translate(calc(100% - 2px), -50%);
        border-color: var(--color-icon-contrast);
      }
    }
  }

}

.chip {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  column-gap: 6px;
  padding: fluid(6px, 8px) fluid(12px, 14px);
  font-size: fluid(12px, 14px);
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--color-background-tertiary);
  border-radius: 32px;
  transition: background var(--transition), opacity var(--transition);

  &:hover {
    background-color: var(--color-background-secondary-3);
  }

  &.active {
    color: var(--color-text-contrast);
    background-color: var(--color-background-contrast-2);

    &:hover {
      opacity: 0.88;
    }
  }

  svg {
    width: fluid(14px, 16px);
    min-width: fluid(14px, 16px);
    height: fluid(14px, 16px);
  }
}

.quantity-counter {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 154px;
  min-height: 48px;
  outline: 1px solid var(--color-stroke-primary);
  outline-offset: -1px;
  border-radius: 12px;
  transition: outline var(--transition);

  @include tablet {
    width: 116px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    transition: color var(--transition);

    svg {
      width: 20px;
      min-width: 20px;
      height: 20px;
    }
  }

    .quantity-counter__minus {
      display: none;

      @include tablet {
        display: flex;
      }
    }

    .quantity-counter__delete {
      @include tablet {
        display: none;
      }
    }


  &__plus {
    &:hover {
      color: var(--color-text-secondary);
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Для старых версий */
  input[type="number"]::-ms-clear {
    display: none; /* IE 10-11 */
  }

  &__input {
    flex: 1 1 auto;
    min-width: 20px;
    text-align: center;
    background-color: transparent;

    &:hover,
    &:focus-visible,
    &:focus {
      outline: none;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @include desktop {
    padding: 16px;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-stroke-primary);
    border-radius: 16px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2px;
    padding: 6px 10px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: var(--color-text-primary);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: color var(--transition), border-color var(--transition), background-color var(--transition);

    &:not(:disabled) {
      &:hover {
        border-color: var(--color-stroke-secondary);
      }
    }

    &--current {
      color: var(--color-text-contrast);
      background-color: var(--color-background-accent-2);
      pointer-events: none;

      &:disabled {
        opacity: .4;
        cursor: not-allowed;
      }
    }

    &--prev,
    &--next {
      display: none;
      min-height: fit-content;
      color: var(--color-text-accent-2);

      svg {
        width: 16px;
        height: 16px;
      }

      &:not(:disabled) {
        &:hover {
          color: var(--color-text-accent-2);
          background-color: var(--color-highlight-link);
          border-color: transparent;
        }

      }

      &:disabled {
        color: var(--color-text-secondary);
        cursor: not-allowed;
      }

      @include tablet {
        display: flex;
      }
    }
  }

}

.search {
  position: relative;

  &-input {
    padding: 11px 16px 11px 48px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-stroke-primary);
    border-radius: 99px;
    transition: border-color var(--transition);

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: var(--color-text-secondary);
    }

    &:hover {
      border-color: var(--color-stroke-secondary);
    }

    &:focus {
      outline: none;
      border-color: var(--color-stroke-secondary);
    }

  }

  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-secondary);
    transition: color var(--transition);

    &:hover {
      color: var(--color-text-primary);
    }

    &__icon {
      width: 20px;
      height: 20px;
    }
  }

  &-delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-secondary);
    transition: color var(--transition), opacity var(--transition), visibility var(--transition);

    &:hover {
      color: var(--color-text-primary);
    }

    &__icon {
      width: 20px;
      height: 20px;
    }
  }
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &-counter {
    &:before {
      content: attr(data-nav-counter);
      position: absolute;
      left: 100%;
      transform: translateX(-50%);
      top: -3px;
      padding: 2px 4px;
      min-width: 20px;
      max-width: 25px;
      min-height: 20px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      color: var(--color-text-contrast);
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      border: 2px solid var(--color-stroke-contrast);
      border-radius: 10px;
      background-color: var(--color-background-accent);
    }

    &.over-100 {
      &:before {
        content: '';
        left: unset;
        transform: unset;
        top: -3px;
        right: -2px;
        padding: 3px 3px;
        min-width: 6px;
        min-height: 6px;
      }
    }
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  padding: 2px 6px;
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 8px;

  &-main {
    color: var(--color-text-contrast);
    background-color: var(--color-background-contrast);
  }

  &-secondary {
    color: var(--color-text-contrast);
    background-color: var(--color-background-secondary-2);
  }

  &-accent {
    color: var(--color-text-contrast);
    background-color: var(--color-background-danger);
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

//артикул с возможность копирования
.sku {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
}


.range {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
  }

  &__from,
  &__to {
    position: relative;

    &:focus-within {
      input {
        outline: 1px solid var(--color-stroke-secondary);
        outline-offset: -1px;
      }
    }


    &:before {
      position: absolute;
      top: 4px;
      left: 12px;
      width: fit-content;
      height: fit-content;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.3;
      color: var(--color-text-secondary);
      pointer-events: none;
    }

    &:after {
      content: "₽";
      position: absolute;
      right: 12px;
      bottom: 4px;
      font-size: fluid(14px, 16px);
      font-weight: 500;
      line-height: 1.5;
      color: var(--color-text-secondary);
    }
  }

  &__from {
    &:before {
      content: "от";
    }
  }

  &__to {
    &:before {
      content: "до";
    }
  }

  &__input {
    width: 100%;
    padding: 20px 30px 4px 12px;
    font-size: fluid(14px, 16px);
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--color-background-primary);
    outline: 1px solid var(--color-stroke-primary);
    outline-offset: -1px;
    border-radius: 8px;
    transition: outline var(--transition);

    -moz-appearance: textfield;


    &:hover,
    &:focus-visible,
    &:focus {
      outline-color: var(--color-stroke-secondary);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-ms-clear {
      display: none;
    }
  }


  &__slider {
    position: relative;
    height: 18px;
    width: 100%;
  }

  &__track {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-icon-tertiary);
    border-radius: 2px;
  }

  input[type="range"] {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    pointer-events: none;
    margin: 0;

    &:focus-visible {
      outline: none;

      &::-webkit-slider-thumb {
        outline: 2px solid var(--color-icon-accent);
        outline-offset: 2px;
      }

      &::-moz-range-thumb {
        outline: 2px solid var(--color-icon-accent);
        outline-offset: 2px;
      }
    }
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: var(--color-icon-accent-2);
    border: 2px solid var(--color-icon-accent-2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: var(--color-icon-accent-2);
    border: 2px solid var(--color-icon-accent-2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.favorite,
.favorite-lite,
.share,
.delete,
.delete-lite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  margin: -12px;
  border-radius: 12px;
}

.favorite {
  path {
    fill: transparent;
    transition: fill var(--transition), stroke var(--transition);
  }

  &:hover {
    path {
      stroke: var(--color-icon-secondary);
    }
  }

  &.active {
    transition: opacity var(--transition);

    path {
      fill: var(--color-background-accent);
      stroke: var(--color-background-accent);
    }

    &:hover {
      opacity: .8;
    }
  }
}

.favorite-lite {
  color: var(--color-icon-secondary);

  path {
    fill: transparent;
    transition: fill var(--transition), stroke var(--transition);
  }

  &:hover {
    path {
      stroke: var(--color-icon-primary);
    }
  }

  &.active {
    transition: opacity var(--transition);

    path {
      fill: var(--color-background-accent);
      stroke: var(--color-background-accent);
    }

    &:hover {
      opacity: .8;
    }
  }
}

.share {
  transition: color var(--transition);

  &:hover {
    color: var(--color-icon-secondary);
  }
}

.delete {
  transition: color var(--transition);

  &:hover {
    color: var(--color-icon-secondary);
  }
}

.delete-lite {
  color: var(--color-icon-secondary);
  transition: color var(--transition);

  &:hover {
    color: var(--color-icon-primary);
  }
}