<article class="product-card @@if (mode === 'unavailable') { unavailable }"
		 data-product-card>
	<div class="product-card__media">
		<a href="/product.html" class="product-card__link">
			<div class="product-card__wrapper">
				<div class="product-card__slider swiper" data-product-card-slider>
					<div class="product-card__wrapper swiper-wrapper">
						@@if (image1) {
						<div class="product-card__slide swiper-slide">
							<img class="product-card__img" src="@@image1" alt="@@name"
								 loading="lazy">
						</div>
						}
						@@if (image2) {
						<div class="product-card__slide swiper-slide">
							<img class="product-card__img" src="@@image2" alt="@@name"
								 loading="lazy">
						</div>
						}
						@@if (image3) {
						<div class="product-card__slide swiper-slide">
							<img class="product-card__img" src="@@image3" alt="@@name"
								 loading="lazy">
						</div>
						}
					</div>
				</div>

				@@if (badge1 || badge2) {
				<div class="product-card__badges product-card__badges--top">
					@@if (badge1) {
					<span class="badge badge-main">@@badge1</span>
					}
					@@if (badge2) {
					<span class="badge badge-secondary">@@badge2</span>
					}
				</div>
				}
				@@if (favorite === true) {
				<button class="product-card__favorite active" type="button">
					<span class="visually-hidden">Убрать из избранного</span>

					<svg class="product-card__favorite-icon" aria-hidden="true">
						<use href="./assets/img/svg/sprite.svg#heart-fill"></use>
					</svg>
				</button>
				}

				@@if (favorite !== true) {
				<button class="product-card__favorite" type="button">
					<span class="visually-hidden">Добавить в избранное</span>

					<svg class="product-card__favorite-icon" aria-hidden="true">
						<use href="./assets/img/svg/sprite.svg#heart-fill"></use>
					</svg>
				</button>
				}

				<div class="product-card__cart">
					<button class="product-card__cart-btn" type="button">
						<span class="visually-hidden">Добавить в корзину</span>

						<svg class="product-card__cart-icon" aria-hidden="true">
							<use href="./assets/img/svg/sprite.svg#cart-stroke-thin"></use>
						</svg>
						<span class="product-card__counter">2</span>
					</button>
				</div>

				<div class="product-card__badges product-card__badges--bottom">
					@@if (discount) {
					<span class="badge badge-accent product-card__discount">@@discount%</span>
					}
				</div>

			</div>
		</a>
		<div class="product-card__pagination swiper-pagination" data-product-card-pagination></div>
		<div class="product-card__pagination-invisible" data-product-card-pagination-invisible="">
			@@if (image1) {
			<a href="/product.html" class="product-card__pagination-link" data-slide-index="0" aria-label="Перейти на страницу товара"></a>
			}
			@@if (image1) {
			<a href="/product.html" class="product-card__pagination-link" data-slide-index="1" aria-label="Перейти на страницу товара"></a>
			}
			@@if (image1) {
			<a href="/product.html" class="product-card__pagination-link" data-slide-index="2" aria-label="Перейти на страницу товара"></a>
			}
		</div>
	</div>

	<div class="product-card__content">
		@@if (mode === 'sale') {
		<div class="product-card__price">
			@@if (salePrice) {
			<span class="product-card__price-current">@@salePrice ₽</span>
			}
			@@if (basicPrice) {
			<span class="text-strike product-card__price-old">
				@@basicPrice ₽
			</span>
			}
		</div>
		}

		<h3 class=" product-card__title">@@name</h3>
		<div class="product-card__details">
			<div class="product-card__color">
				@@if (color1) {
				<span class="product-card__color-btn @@if (color1border === true) { has-border }" style="background-color: @@color1"></span>
				}
				@@if (color2) {
				<span class="product-card__color-btn @@if (color2border === true) { has-border }" style="background-color: @@color2"></span>
				}
				@@if (color3) {
				<span class="product-card__color-btn @@if (color3border === true) { has-border }" style="background-color: @@color3"></span>
				}
				@@if (colorsMore) {
				<div class="product-card__color-more">
					+@@colorsMore
				</div>
				}
			</div>

			@@if (sizesRange) {
			<div class="product-card__sizes">
				размеры <span class="product-card__sizes-btn">@@sizesRange</span>
			</div>
			}
		</div>
	</div>


</article>
