<article class="promo-card @@if (mode === 'full') { full } @@if (color === 'light') { light }">
	<div class="promo-card__media">
		@@if (imageBackMobile) {
		<div class="promo-card__back promo-card__back--mobile"
			 style="background-image: url('@@imageBackMobile'); "></div>
		}
		@@if (imageBackDesktop) {
		<div class="promo-card__back promo-card__back--desktop"
			 style="background-image: url('@@imageBackDesktop'); "></div>
		}
	</div>

	<div class="promo-card__content">
		<a href="/promo-single.html" class="promo-card__link" aria-label="Перейти к акции «@@title»"></a>

		<div class="promo-card__descr">
			<div class=" promo-card__period">@@period</div>

			<div class="title-xl font-medium promo-card__title">@@title</div>

			<div class="body-text-xl promo-card__text">
				@@text
			</div>
		</div>


		<a href="/promo-single.html" class="button-md button-primary promo-card__btn">
			Подробнее
		</a>
	</div>
</article>
