@use '../../../../scss/mixins' as *;

.delivery-point {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 420px;

  &[data-view="map"] {
    > .delivery-point__list {
      display: none;

      @include desktop {
        display: flex;
      }
    }
  }

  &[data-view="list"] {
    > .delivery-point__map {
      display: none;

      @include desktop {
        display: flex;
      }
    }
  }

  &[data-view="map"],
  &[data-view="list"] {
    > .delivery-point__actions .delivery-point__choose {
      display: none;

      @include desktop {
        display: flex;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: fluid(12px, 16px);
    padding: 0 var(--container-padding) 16px;

    @include desktop {
      padding: 0 0 24px;
    }
  }

  &__info {
    padding-top: 16px;
  }

  &__list {
    flex-direction: column;
    padding: 0 var(--container-padding);
    overflow-y: auto;

    @include desktop {
      padding: unset;
    }
  }

  &__map {
    flex: 1;

    @include desktop {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 50dvw;
      opacity: 0;
    }

    > iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    padding: 16px 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-stroke-primary);
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    padding: 16px var(--container-padding) 60px;
    margin-top: auto;

    @include desktop {
      padding: 24px 0 0;
    }

    @include desktop-lg {
      padding: 48px 0 0;
    }
  }

  &__mode {
    display: flex;
    column-gap: 8px;

    @include desktop {
      display: none;
    }

    &-btn {
      flex: 1;

      &.active {
        color: var(--color-text-contrast);
        background-color: var(--color-background-contrast);

        &:hover {
          background-color: #545556;
        }
      }
    }
  }
}

.point {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &.active {
    .point__title {
      color: var(--color-text-accent);
    }
  }

  &__heading,
  &__meta {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

}